{
  "presets": ["es2015", "stage-2"],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["ttd-element"],
          "alias": {
            "ttd-element/src": "ttd-element/lib",
            "ttd-element/packages": "ttd-element/lib",
          }
        }]
      ]
    }
  }
}
