node_modules
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
.idea
.vscode
examples/ttd-element
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
fe.element/ttd-element
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc
