@import "./mixins/mixins.scss";

@include b(pdf-label-item) {
  position: absolute;
  font-size: 18px;
  color: #F8AF00;
  text-align: center;
  background-color: #FFEBC9;
  cursor: default;
  @include when(active) {
    z-index: 1;
    background-color: #f9d290;
    cursor: grab;
  }
  @include when(drag) {
    cursor: grabbing;
  }
  @include e(drag) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    line-height: 1;
    cursor: nw-resize;
    overflow: hidden;
    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 3px;
      border: 1px solid #666;
      transform-origin: center;
      transform: rotate(135deg) translate(-2px,5px);
    }
  }
  @include m(close) {
    position: absolute;
    right: -5px;
    top: -5px;
    color: #FFEBC9;
    background-color: #F8AF00;
    border-radius: 50%;
    cursor: pointer;
  }
}