@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include b(pdf-label) {
  @include e(pdf) {
    position: relative;
    display: inline-block;
    width: 560px;
    height: 780px;
    vertical-align: middle;
  }
  @include e(turn) {
    color: #dcdcdc;
    font-size: 36px;
    cursor: pointer;
    @include when(disable) {
      color: #f4f4f4;
      cursor: no-drop;
    }
  }
}