@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include b(ttd-table) {
  &.el-table {
    color: #222;
    font-size: 13px;
    th {
      padding: 4px 0;
      background: #F4F7FD;
    }
    td {
      padding: 2px 0;
    }
    thead {
      color: #272D38;
    }
    .el-table__body .cell {
      height: 40px;
      line-height: 40px;
    }
  }
}